#textdomain wesnoth-The_Wesnoth_Forum_Faction_Era

# Assuming there might be more eras coming out of this (like an RPG era or a
# second TWFF era), I created this folder. I hope you don't mind,
# artisticdude. :)
# - elvish_sovereign

[era]
    id=The_Wesnoth_Forum_Faction_Era_default
    name= _"The Wesnoth Forum Faction"
    require_era=yes

    {~add-ons/The_Wesnoth_Forum_Faction_Era/eras/default/The_Wesnoth_Forum_Faction.cfg}

    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}
[/era]

[era]
    id=The_Wesnoth_Forum_Faction_Era_plus_mainline
    name= _"The Wesnoth Forum Faction + Default"
    require_era=yes

    {RANDOM_SIDE}
    {multiplayer/factions/loyalists-default.cfg}
    {multiplayer/factions/rebels-default.cfg}
    {multiplayer/factions/northerners-default.cfg}
    {multiplayer/factions/undead-default.cfg}
    {multiplayer/factions/knalgans-default.cfg}
    {multiplayer/factions/drakes-default.cfg}
    {~add-ons/The_Wesnoth_Forum_Faction_Era/eras/default/The_Wesnoth_Forum_Faction.cfg}

    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}
[/era]

# Possibly more eras to come...
# - elvish_sovereign
